include _data.pug
main.main
    .container
        .row
            .col-md-6.col-sm-12
                section.reservation
                    h2.reservation__title Быстрая бронь
                    form.form.form-main(action="#")
                        each input in inputsReservation
                            input.form-main__input(type="text", name=`${input.name}` placeholder=`${input.placeholder}`)
                        .container
                            .row
                                .col-md-4.col-sm-12
                                    button.form-main__btn Найти номер
                                .col-md-auto.col-sm-12.align-self-center
                                    .offers-count
                                        span.offers-count__number 9 756
                                        span.offers-count__text предложений доступно
            .col-md-6.col-sm-12
                section.offers
                    h2.offers__title Спецпредложение
                    .offer-block
                        h3.offer-block__title Номера категории люкс
                        span.offer-block__price от 5 000 р
                        a.offer-block__link(href="#") Подробнее
                        .offer-block__img-wrap
                            picture
                                source(type="image/webp", data-src="img/22@1X.webp")
                                img.lazy.offer-block__img(alt="Спецпредложение", data-src="img/22@1X.jpg")
        .row
            .col-md-10.col-sm-12
                section.about
                    h2.about__title О нас
                    p.about__text Идейные соображения высшего порядка, а также сложившаяся структура организации влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Равным образом сложившаяся структура организации требуют определения и уточнения существенных финансовых и административных условий.
        section.services
            h2.services__title Услуги
            ul.service__list
                .row
                    each service in services
                        .col-md-6
                            li.services-item
                                picture
                                    source(type="image/webp", data-src=`${service.img}.webp`)
                                    img.lazy.services-item__img(alt=`${service.link}`, data-src=`${service.img}.jpg`)
                                .services-item__wrap
                                    h3.services-item__title
                                        a.services-item__link(href="#") #{service.link}
                                    p.services-item__text #{service.text}
        section.advantages
            h2.advantages__title Преимущества
            ul.advantages__list
                .row
                    each item in advantages
                        .col-lg-3.col-md-6.justify-content-center
                            li.advantages-item
                                picture
                                    source(type="image/webp", data-src=`${item.img}.webp`)
                                    img.lazy.advantages-item__img(alt=`${item.text}`, data-src=`${item.img}.png`)
                                p.advantages-item__text #{item.text}
        section.placement
            h2.placement__title Размещение
            ul.placement__list
                .row
                    each item in placement
                        .col-lg-4.col-md-6
                            li.placement-item
                                picture
                                    source(type="image/webp", data-src=`${item.img}.webp`)
                                    img.lazy.placement-item__img(alt=`${item.title}`, data-src=`${item.img}.jpg`)
                                .placement-wrapper
                                    .row
                                        .col-md-7
                                            .placement-price #{item.price}
                                        .col-md-5.align-self-center
                                            .placement-stars(aria-label=`Рейтинг отеля:${item.ratinglabel}` class=`${item.ratingClass}`)
                                                each item in ratings
                                                    .placement-stars__item(aria-label=`${item}`) ★
                                    .placement-item__title #{item.title}
                                    .placement-item__location #{item.location}
                                    a.placement-item__btn(href="#") Номера
                    .col-lg-4.col-md-6
                        li.placement-item
                            picture
                                source(type="image/webp", data-src="img/41.webp")
                                img.lazy.placement-item__img(alt="Подробнее", data-src="img/41.jpg")
                                .placement-link-wrap
                                    a.placement-item__link(href="#") Посмотреть все варианты
        section.contacts
            h2.contacts__title Контакты
            .row
                .col-md-5
                    .contacts-info
                        .contacts-info__wrap
                            .row
                                .col-lg-4
                                    h3.contacts-info__title Адрес
                                .col-lg-8
                                    p.contacts-info__text Москва, улица Юности, дом 5 строение 4, офис 2
                        .contacts-info__wrap
                            .row
                                .col-lg-4
                                    h3.contacts-info__title Телефоны
                                .col-lg-8
                                    a.contacts-info__link.contacts-info__tel(href="tel:+74995356434") +7 (499) 535-64-34
                                    a.contacts-info__link.contacts-info__tel(href="tel:+74950050544") +7 (495) 005-05-44
                        .contacts-info__wrap
                            .row
                                .col-lg-4
                                    h3.contacts-info__title E-mail
                                .col-lg-8
                                    .contacts-info__link-wrap
                                        a.contacts-info__link(href="mailto:lg.oona@mail.ru") lg.oona@mail.ru
                                        span.contacts-info__text.contacts-info__text--gray  по вопросам бронирования
                                    .contacts-info__link-wrap
                                        a.contacts-info__link(href="mailto:hotels.ln@mail.ru") hotels.ln@mail.ru
                                        span.contacts-info__text.contacts-info__text--gray  по вопросам сотрудничества
                        .contacts-info__wrap
                            .row
                                .col-lg-4
                                    h3.contacts-info__title График
                                .col-lg-8
                                    p.contacts-info__text Понедельник - пятница
                                    p.contacts-info__text с 10:00 до 19:00
                        .row
                            .col-lg-6
                                button.form-main__btn.form-main__btn--white Построить маршрут
                .col-md-7.align-self-center
                    .write-us
                        h2.write-us__title Напишите нам
                        form.form.form-main.form-write-us(action="#")
                            each input in inputsContacts
                                input.form-main__input.form-write-us__input(type=`${input.type}`, name=`${input.name}` placeholder=`${input.placeholder}`)
                            .form-write-us__btn-wrap
                                button.form-main__btn.form-write-us__btn Отправить
